
 .col .table-data{
   width: 98%;
    text-align: center;
} 
.col {
    padding: 0;
}
.insert,.edit{
    margin-top: 10px;
}
.search {
    width: 70%;
}
@media screen and (max-width : 990px )
{
    .insert-button{
        width: 100%;
        clear: both;
        margin-top: 10px;   
        margin-bottom: 20px;
    }
    .search-button{
        width: 100%;
        clear: both;
        margin-top: 10px;
        margin-left: 0 !important;
    }
    .insert,.edit{
        width: 100%;
    }
    .search {
        width: 100% !important;
    }
    .header h1{
        font-size: 40px;
    }
 }